<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.cinema.mapper.TheaterMapper">

	<insert id="insertTheater" parameterType="com.project.cinema.entity.Theater">
		INSERT INTO movie_reservation(
			title,
			region,
			theater_name,
			date,
			time
		) VALUES (
			#{title},
			#{region},
			#{theater_name},
			#{date},
			#{time}
		)
	</insert>
	
	<delete id="deleteTheater">
		DELETE FROM movie_reservation
	</delete>
	
	<select id="getRegionInfo" resultType="Map">
		SELECT DISTINCT region 
		FROM movie_reservation
	</select>
	
	<select id="getTheaterInfo" resultType="Map">
		SELECT distinct theater_name 
		FROM movie_reservation 
		WHERE region=#{region}
	</select>
	
	<select id="getTimeInfo" parameterType="String" resultType="Map">
		SELECT time 
		FROM movie_reservation 
		WHERE theater_name=#{theaterName}
	</select>
	
	
	<update id="updateResDate" parameterType="String">
		UPDATE movie_reservation
		SET res_date = #{resDate}
		WHERE theater_name = #{theaterName}, time = #{time};
	</update>
	
</mapper>